@import "tailwindcss";
@config "../tailwind.config.js";

.glow {
  text-shadow: 0 0 30px #d0eafb;
}

.text-shadow {
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Dark shadow for depth */
}

/* .background-gsap {
  background-image: url(../public/imageFestival.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10%;
} */

.slider-container {
  position: absolute;
  bottom: 0; /* Align at the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  width: 75%; /* Adjust width as needed */
}
