@import "tailwindcss";
@config "../tailwind.config.js";

.glow {
  text-shadow: 0 0 30px #d0eafb;
}

.text-shadow {
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Dark shadow for depth */
}

/* .background-gsap {
  background-image: url(../public/imageFestival.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10%;
} */

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  bottom: -35px !important;
}

.slider-container {
  position: relative;
  bottom: -25%; /* Align at the bottom */
  width: 100%; /* Adjust width as needed */
  height: 600px;
}

.image-slider-image {
  width: 480px; /* Consistent width */
  height: 270px; /* Consistent height */
  overflow: hidden; /* Prevents overflow */
  padding: 0 15px;
  outline: none;
}

@media screen and (max-width: 768px) {
  .image-slider-image {
    padding: 0 5px;
  }
}

.slick-slide img {
  display: inline-block !important;
  outline: none;
}

.image-slider-image img {
  width: 100%; /* Ensures the image fills the container */
  height: 100%; /* Ensures the image fills the container */
  object-fit: cover; /* Ensures the image maintains aspect ratio */
  display: inline-block; /* Removes default spacing below the image */
  border-radius: 10px; /* Optional: Adds rounded corners */
}
.slick-slide {
  filter: brightness(0.5); /* Darken all slides */
  transition: all 0.3s ease-in-out; /* Smooth transition */
  outline: none;
}

.slick-center {
  filter: brightness(1); /* Restore brightness for the center slide */
}
